.base-search {
	strong {
		cursor: pointer;
		font-weight: normal;
		position: relative;
		.pop-over {
			display: none;
		}
		&.open .pop-over {
			display: inline-block;
		}
	}
	div {
		height: 30px;
		line-height: 30px;
	}
}
span.arrow-box {
	min-width: 200px;
	left: 0;
	top: 30px;
	&:hover {
		text-decoration: underline;
	}
}
.arrow-box {
	position: absolute;
	background: #88b7d5;
	border: 2px solid #c2e1f5;
	border-radius: 5px;
}
.arrow-box:after, .arrow-box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 10px;
	margin-left: -10px;
}
.arrow-box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 13px;
	margin-left: -13px;
}
