@charset "UTF-8";
@import '../../lib/cosmo/index';

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

body {
	background-color: #e2e2e2;
	margin: 0;
	padding: 0;
}
.main-container, footer {
	margin: 0 auto;
	padding: 0;
}
.main-container {
	margin-top: 54px;
	width: 1200px;
}
footer {
	width: 960px;
	height: 54px;
	line-height: 54px;
}

.hidden {
	display: none;
}
h4 {
	font-size: 18px;
}

/*==== temp buffer for cosmo/index.scss =====*/

/*====== END =======*/
.empty-alert, .error-alert {
	display: none;
	font-size: 13px;
	color: #f44545;
}
.error, .empty {
	input, textarea {
		border: 1px solid #f44545;
		background-color: #feeeee;
	}
}
.empty .empty-alert, .error .error-alert {
	display: inline-block;
}
.empty .error-alert {
	display: none;
}


